SELECT id, name, price FROM items WHERE id IN (20542, 77640, 8495, 68299, 18609, 5532, 20490, 62880, 10650, 16576, 20544, 10652, 67742, 64067, 10099, 64031, 20487, 20488, 62649, 11057, 14383, 48136, 10651, 57405, 10908, 14341, 12665);
