SELECT id, spawngroupID, x, y, z FROM spawn2 WHERE zone = 'poknowledge' AND x BETWEEN 0 AND 100 AND y BETWEEN -200 AND 0;
SELECT id, name FROM npc_types WHERE id BETWEEN 202900 AND 202999;
SELECT id, name FROM spawngroup WHERE id BETWEEN 202900 AND 202999;
