SELECT id, name FROM items WHERE name LIKE '%Spirit%Shorn%' OR name LIKE '%Aegis%Divine%' OR name LIKE '%Kerasian%Axe%' OR name LIKE '%Elemental%Binding%' OR name LIKE '%Vedium%' OR name LIKE '%Obscurity%' OR name LIKE '%Vesagrop%';
