SELECT id, name FROM items WHERE name LIKE '%Savage%Spirit%' OR name LIKE '%Nem%Ankh%' OR name LIKE '%Nature%Walker%' OR name LIKE '%Fiery%Defender%' OR name LIKE '%Jagged%Blade%War%' OR name LIKE '%Ragebringer%' OR name LIKE '%Spear%Fate%' OR name LIKE '%Swiftwind%' OR name LIKE '%Earthcaller%' OR name LIKE '%Flux%';
