SELECT id, name FROM items WHERE name LIKE '%Vesagrop%' OR name LIKE '%Shorn%Daws%' OR name LIKE '%Kerasian%Axe%' OR name LIKE '%Divine%Light%' OR name LIKE '%Elemental%Binding%' OR name LIKE '%Fistwraps%Obscurity%' OR name LIKE '%Morning%Star%' OR name LIKE '%Razor%Shadows%' OR name LIKE '%Vedium%Sword%' OR name LIKE '%Staff%Flux%';
