SELECT id, name FROM items WHERE name LIKE 'Spirit-Shorn Daws%' OR name LIKE 'Kerasian Axe of Spite%' OR name LIKE 'Aegis of Divine Light%' OR name LIKE 'Focus of Elemental Binding%' OR name LIKE 'Transcended Fistwraps of Obscurity%' OR name LIKE 'Aurora, the Morning Star%' OR name LIKE 'Razor of Shadows%' OR name LIKE '%Vedium%Sword%' OR name LIKE 'Staff of the Flux%';
