SELECT id, name FROM items WHERE name LIKE '%Vesagrop%' OR name LIKE '%Shorn%' OR name LIKE '%Axe%Spite%' OR name LIKE '%Divine%Light%' OR name LIKE '%Everliving%' OR name LIKE '%Phenomenal%' OR name LIKE '%Elemental%Binding%' OR name LIKE '%Obscurity%' OR name LIKE '%Aurora%' OR name LIKE '%Razor%' OR name LIKE '%Blessing%' OR name LIKE '%Heyokah%' OR name LIKE '%Vedium%' OR name LIKE '%Prismatic%';
