SELECT id, name FROM items WHERE epicitem > 0 AND (name LIKE '%Cleric%' OR name LIKE '%Beastlord%' OR name LIKE '%Magician%' OR name LIKE '%Monk%' OR name LIKE '%Rogue%' OR name LIKE '%Warrior%' OR name LIKE '%Berserker%');
