SELECT id, name FROM items WHERE name LIKE '%Vesagr%' OR name LIKE '%Spirit%Shorn%' OR name LIKE '%Kerasian%Axe%' OR name LIKE '%Aegis%Divine%' OR name LIKE '%Everliving%Brambles%' OR name LIKE '%Focus%Elemental%' OR name LIKE '%Fistwraps%Obscurity%' OR name LIKE '%Aurora%Morning%' OR name LIKE '%Razor%Shadows%' OR name LIKE '%Vedium%Sword%' OR name LIKE '%Staff%Flux%';
