SELECT id, name FROM items WHERE name LIKE '%Rizlona%' OR name LIKE '%Dumul%' OR name LIKE '%Ultor%' OR name LIKE '%Kerasha%' OR name LIKE '%Romar%' OR name LIKE '%Magi%Kot%' OR name LIKE '%Ton Po%' OR name LIKE '%Miragul%' OR name LIKE '%Trydan%' OR name LIKE '%Askr%' OR name LIKE '%Bidilis%' OR name LIKE '%Grimror%' OR name LIKE '%Rosrak%' OR name LIKE '%Raex%' OR name LIKE '%Maelin%';
