SELECT id, name FROM items WHERE name LIKE '%Epic%' AND (name LIKE '%Berserker%' OR name LIKE '%Beastlord%' OR name LIKE '%Cleric%' OR name LIKE '%Druid%' OR name LIKE '%Monk%' OR name LIKE '%Rogue%' OR name LIKE '%Warrior%' OR name LIKE '%Ranger%');
