SELECT id, name FROM items WHERE id BETWEEN 62580 AND 62585 OR id BETWEEN 63450 AND 63460 OR id BETWEEN 64020 AND 64030 OR id BETWEEN 67740 AND 67745 OR id BETWEEN 62600 AND 62605 OR id BETWEEN 18605 AND 18610 OR id BETWEEN 77635 AND 77645 OR id BETWEEN 57400 AND 57410 OR id BETWEEN 68295 AND 68305;
