SELECT name, lastname, x, y, z FROM npc_types JOIN spawnentry ON npc_types.id = spawnentry.npcID JOIN spawn2 ON spawnentry.spawngroupID = spawn2.spawngroupID WHERE npc_types.name LIKE '%_Elemental_Armor';
